@model EditarVeiculoViewModel;

@{
    ViewBag.Titulo = "Editar Veículo";
}

<a asp-controller="Condutor" asp-action="Index" class="btn btn-secondary mb-3">
    <i class="bi bi-arrow-left-circle"></i> Voltar
</a>

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Edição de Veículo</h5>
    </div>

    <div class="card-body">
        <form asp-controller="Veiculo" asp-action="Editar" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label asp-for="FotoUpload" class="form-label"></label>
                <input asp-for="FotoUpload" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="FotoUpload"></span>
            </div>

            <div class="mb-3">
                <label asp-for="GrupoVeiculo" class="form-label"></label>
                <select asp-for="GrupoVeiculo" asp-items="Model.GrupoVeiculosDisponiveis" class="form-control">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="GrupoVeiculo"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Marca" class="form-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Modelo" class="form-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cor" class="form-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Combustivel" class="form-label"></label>
                <select asp-for="Combustivel" asp-items="Model.CombustiveisDisponiveis" class="form-control">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="Combustivel"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TipoCambio" class="form-label"></label>
                <select asp-for="TipoCambio" asp-items="Model.TiposCambiosDisponiveis" class="form-control">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="TipoCambio"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CapacidadeCombustivel" class="form-label"></label>
                <input asp-for="CapacidadeCombustivel" type="number" class="form-control" />
                <span asp-validation-for="CapacidadeCombustivel"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ano" class="form-label"></label>
                <input asp-for="Ano" type="number" class="form-control" />
                <span asp-validation-for="Ano"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Kilometragem" class="form-label"></label>
                <input asp-for="Kilometragem" type="number" class="form-control" />
                <span asp-validation-for="Kilometragem"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Placa" class="form-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa"></span>
            </div>
            <button type="submit" class="btn btn-success mt-4">
                <i class="bi bi-check-circle"></i> Salvar
            </button>
        </form>
    </div>
</div>