﻿@{
    ViewBag.Titulo = "Página Inicial";
}

<a asp-controller="GrupoVeiculo" asp-action="Index">Grupo de veículos</a>
<br/>
<a asp-controller="Combustivel" asp-action="Index">Combustíveis</a>
<br />
<a asp-controller="Funcionario" asp-action="Index">Funcionários</a>
<br />
<a asp-controller="Condutor" asp-action="Index">Condutores</a>
