﻿@{
    ViewBag.Titulo = "Página Inicial";
}

<a asp-controller="GrupoVeiculo" asp-action="Index">Grupo de veículos</a>
<br/>
<a asp-controller="Combustivel" asp-action="Index">Combustíveis</a>
<br />
<a asp-controller="Funcionario" asp-action="Index">Funcionários</a>
<br />
<a asp-controller="Condutor" asp-action="Index">Condutores</a>
<br />
<a asp-controller="Veiculo" asp-action="Index">Veículos</a>
<br />
<a asp-controller="Cliente" asp-action="Index">Clientes</a>
<br />
<a asp-controller="Taxa" asp-action="Index">Taxas e serviços</a>
<br />
<a asp-controller="Cobranca" asp-action="Index">Cobranças</a>
