@model EditarAluguelViewModel

@{
    ViewBag.Titulo = "Editar Aluguel";
}

<a asp-controller="Aluguel" asp-action="Index">Voltar</a>
<form asp-controller="Aluguel" asp-action="Editar" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div>
        <select asp-for="Condutor" asp-items="Model.CondutoresDisponiveis" class="form-control">
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Condutor"></span>

        <select asp-for="Cliente" asp-items="Model.ClientesDisponivies" class="form-control">
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Cliente"></span>

        <select asp-for="Cobranca" asp-items="Model.CobrancasDisponivies" class="form-control">
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Cobranca"></span>

        <select asp-for="Veiculo" asp-items="Model.VeiculosDisponiveis" class="form-control">
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Veiculo"></span>

        <label asp-for="DataSaida"></label>
        <input asp-for="DataSaida" type="date" />
        <span asp-validation-for="DataSaida"></span>

        <label asp-for="DataRetornoPrevista"></label>
        <input asp-for="DataRetornoPrevista" type="date" />
        <span asp-validation-for="DataRetornoPrevista"></span>

        <label asp-for="DataDevolucao"></label>
        <input asp-for="DataDevolucao" type="date" />
        <span asp-validation-for="DataDevolucao"></span>

        <select asp-for="Taxas" asp-items="Model.TaxasDisponiveis" class="form-control">
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Taxas"></span>

        <label asp-for="KmInicial"></label>
        <input asp-for="KmInicial" />
        <span asp-validation-for="KmInicial"></span>

        <label asp-for="KmDevolucao"></label>
        <input asp-for="KmDevolucao" />
        <span asp-validation-for="KmDevolucao"></span>

        <label asp-for="TanqueCheio"></label>
        <input asp-for="TanqueCheio" type="checkbox" class="form-check-input" />

        <label asp-for="SeguroAcionado"></label>
        <input asp-for="SeguroAcionado" type="checkbox" class="form-check-input" />

        <label asp-for="Status"></label>
        <input asp-for="Status" type="checkbox" class="form-check-input" />

        <label asp-for="Total"></label>
        <input asp-for="Total" />
        <span asp-validation-for="Total"></span>
    </div>
    <button type="submit">Cadastrar</button>
</form>