@model ExcluirGrupoVeiculoViewModel;

@{
    ViewBag.Titulo = "Excluir Grupo de Veículo";
}

<a asp-controller="GrupoVeiculo" asp-action="Index">Voltar</a>
<form asp-controller="GrupoVeiculo" asp-action="Excluir" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Nome"></label>
        <input asp-for="Nome" disabled />
    </div>
    <button type="submit">Excluir</button>
</form>